html{
    height: 100%;
}

body {
    margin: 0 0 0 0;
    background-color: #ade98a9c;
    font-size: 35px;
    
}

.row {
    text-align: center;
}

#newCol {
    padding: 1%;
}

div{
    padding: 1%;
    
    width: 100%;
    height: 100%;
}